.subheading {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #9BB7D4;
    border-bottom: 2px dotted #9BB7D4;
    padding-bottom: 8px;
    margin: 0;
    margin-bottom: 24px;
}